/* styles/styles.css */
@keyframes blink1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blink2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    25% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}